<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <add key="accessId" value="AKIAVVGBM6Q6MBLYGXE6"/>
    <add key="secretKey" value="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"/>   
  </appSettings>
</configuration>